body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color:  #003366;

    display: flex;
    justify-content: center;
    flex-direction: column;

    height: 100vh; /*view heigh (unidade baseado na altura do navegador) mesmo q tiver maior a tela ficará centralizado*/
}

.container {
    max-width: 1000px;
    background-color: white;
    margin: 0 auto; /* 0 = top bottom auto = left right */
    padding: 100px 50px;
    /* flexbox */
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    column-gap: 60px;
    align-items: center; /*centraliza na vertical*/
}

h1 { /* Bem-vindo de volta! */
    font-size: 32px;
    color: #222222;
    margin-bottom: 0;
}

p { /* Preencha seu login e senha para acessar */
    margin-top: 0;
    font-size: 14px;
    color: #666666;    
}

label { /* Login e senha */
    font-size: 12px;
    font-weight: 700;
    color: #666666;
}

input { /* Digite seu login e ************ */
    display: block; /*ocupa a linha toda*/
    width: 100%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
   
}

/*formatando a div que está dentro do form */
form div{
    margin-bottom: 20px;
}

form a{
    color: #003366;
    font-size: 12px; 
}

.link-senha{
    text-align: right;
}

button { /* Acessar Sistema */
    width: 100%;
    height: 38px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #222222;
}

.conteudo{
    width: 440px;
}

.rodape{
    text-align: center;
    color:#cccccc;
    margin-top: 10px;
}

/*RESPANSIVO*/